In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import Forecast
import Date

In [8]:
datewanted = Date.getdatewanted(1, 2014)
daywanted = Date.getdaywanted(datewanted)
T = pd.read_csv('Data/Yearly_out_temp_2014.csv', usecols=[1])
# [T, UV] = Forecast.forecastF(datewanted)
    
# T = pd.DataFrame(T)

T.columns = ['Temp (°C)']

T.rename(index={0:'00:00',1:'01:00',2:'02:00',3:'03:00',4:'04:00',5:'05:00',6:'06:00',7:'07:00',8:'08:00',9:'09:00',10:'10:00',11:'11:00',12:'12:00',13:'13:00',14:'14:00',15:'15:00',16:'16:00',17:'17:00',18:'18:00',19:'19:00',20:'20:00',21:'21:00',22:'22:00',23:'23:00'}, inplace=True)

T['const'] = [18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5,18.5]

T['diff'] = T['const']-T['Temp (°C)']

T['Degree Days'] = T['diff']*(1/24)

T['Raw Heating Demand (kWh)'] = T['Degree Days']*211.3

## trying to include internal heat generation ##

#     T['Heating Demand (kWh)'] = T['Heating Demand (kWh)']-50

## trying to include internal heat generation ##

#     T['Heating Demand (kWh)'] = T['Heating Demand (kWh)'].clip(lower=0)

T = T.drop(['Temp (°C)','const','diff','Degree Days'], axis = 1);

In [9]:
T

       Raw Heating Demand (kWh)
00:00                106.481505
01:00                 99.242523
02:00                100.074028
03:00                103.253310
04:00                102.715278
05:00                 99.487083
06:00                 96.209977
07:00                 94.840440
08:00                 91.856806
09:00                 89.704676
10:00                 86.769954
11:00                 86.183009
12:00                 87.161250
13:00                 88.286227
14:00                 88.481875
15:00                 84.177616
16:00                 79.090764
17:00                 79.237500
18:00                 78.357083
19:00                 78.503819
20:00                 75.715833
21:00                 74.101736
22:00                 74.786505
23:00                 74.101736

In [5]:
T

            0
0    6.405556
1    7.227778
2    7.133333
3    6.772222
4    6.833333
5    7.200000
6    7.572222
7    7.727778
8    8.066667
9    8.311111
10   8.644444
11   8.711111
12   8.600000
13   8.472222
14   8.450000
15   8.938889
16   9.516667
17   9.500000
18   9.600000
19   9.583333
20   9.900000
21  10.083333
22  10.005556
23  10.083333